.Nav .links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Nav .links a {
    text-decoration: none;
    color: var(--darker-primary-blue);
}

.Nav .links a:hover {
    color: var(--lighter-primary-blue);
}

.router-link-exact-active, .router-link-active {
    color: var(--darker-primary-green) !important;
}

.router-link-exact-active:hover, .router-link-active:hover {
    color: var(--lighter-primary-green) !important;
}